@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--color-dark: #000;
	--color-lihgt: #ffffff;
	--color-lihgt-2: #f5f5f5;
	--color-green: #0d6efd;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #ffffff #000000;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
	border: 0px solid #ffffff;
}

body {
	background-color: var(--color-dark);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	min-height: 100vh;
	max-width: 2000px;
	margin: 0 auto;
}

/* ========== header-nav ========== */

.nav-main {
	max-width: 2000px;
	margin: 0 auto;
}

.nav-logo {
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-logo > img {
	width: 34px;
	height: 34px;
}

.nav-logo > span {
	color: var(--color-green);
}

.nav-item > a {
	position: relative;
	font-size: 16px;
	color: var(--color-lihgt);
	text-decoration: none;
	/* text-transform: uppercase; */
	font-weight: 500;
	letter-spacing: 2.5px;
}

.nav-item > a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 2px;
	background: var(--color-lihgt);
	
	border-radius: 5px;
	transform-origin: x;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.nav-item > a:hover::after {
	transform-origin: center;
	transform: scaleX(1);
	
}

.nav-icon {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	padding: 0 20px;
}

.nav-icon > a {
	font-size: 22px;
	text-decoration: none;
}

.nav-register {
	min-width: 120px;
	height: 30px;
	color: #fff;
	padding: 2px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border: none;
	z-index: 0;
	background: var(--color-green);
	overflow: hidden;
	color: #212529;
	text-decoration: none;
}

.nav-register:hover {
	color: #fff;
}

.nav-register:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #212529;
}

.nav-register:hover:after {
	width: 100%;
}

.nav-name:hover {
	
	border-color: var(--color-green);
	background-color: var(--color-green);
	color: var(--color-dark);
}

.nav-logout {
	color: #fff;
	background: red;
}




/* ========== main ========== */

.main-container {
	padding: 0;
	box-sizing: border-box;
	min-height: 80vh;
}

.section-padding {
	padding: 70px 0;
	bottom: 50px;
}
/* =================================================================================== Feature  ==================== =========== */
.features-section{
    background-color: var(--color-dark);
    margin: 8rem 0px;
    
    
    
}
.main-feature{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem;
    
    
}
.main-feature i{
    font-size: 4rem;
    display: flex;
    
    

}
.main-feature span{
    text-align: center;
    
}

/* =================================================================================== Footer  ==================== =========== */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    
}
.footer-right {
	color: var(--color-lihgt);
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 4px;
}
.footer-right span {
	color: var(--color-green);
	letter-spacing: 4px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    
    
}


.pie-pagina .grupo-1 .box img{
    width: 100px;
	border-radius: 100%;
}
.pie-pagina .grupo-1 .box h2{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 5px;
}
.pie-pagina .grupo-1 .box a{
    text-decoration: none;
    color: #ffffff;
    transition: all 300ms ease;
    max-width: 80%;
    margin: 0 auto;
}
.pie-pagina .grupo-1 .box a:hover{
    color: aqua;
}
.pie-pagina .grupo-1 .red-social{
    display: flex;
    flex-direction: rown;
    margin: 0 auto;
    gap: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:991px) {
    
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        gap:  30px;
        padding: 35px 3rem; 
        
        
    }
    
    
}
/* ========== product ========== */

.product-card {
	border-radius: 12px;
	overflow-x: hidden;
	flex-direction: column;
	height: 100%;
}

.product-card:hover .card-header img {
	filter: grayscale(0);
	transform: scale(1.2) rotate(-2deg);
}

.card-header {
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 360px;
}

.card-header img {
	width: 100%;
	object-fit: cover;
	filter: grayscale(0.5);
	transition: all 0.3s ease-in;
}

.gradient-my {
	font-size: 45px;
	font-family: bebas neue;
	background: linear-gradient(100deg, #d4af37, #23d5ab, #ee7752, #23a6d5);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	line-height: 0.9;
	animation: animate 5s ease-in-out infinite;
}

.gradient-my span {
	font-weight: 24;
	font-size: 24px;
	display: inline;
}

@keyframes animate {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.card-main {
	padding: 4px 8px 16px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.card-main .card-description {
	flex: 1;
}

.card-description {
	min-height: 100px;
}

.card-main p {
	color: var(--color-lihgt);
	margin: 8px 0;
	line-height: 24px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}

.card-prices {
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	align-items: baseline;
}

.card-payments {
	font-style: italic;
	color: #666;
}

.card-footer {
	margin: 0;
	padding: 2px;
	display: flex;
	justify-content: space-between;
}

.card-footer button {
	background-color: var(--color-green);
	color: var(--color-dark);
	padding: 6px;
	width: 120px;
	border: 1px solid transparent;
	border-radius: 6px;
	font-weight: 100px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.card-footer button:hover {
	background-color: var(--color-dark);
	border-color: var(--color-green);
	color: var(--color-lihgt);
}

/* ========== contact ========== */

.contac-wrapper{
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	
	}
	.contac-container{
		background-color: var(--color-dark);
		border-radius: 8px;
		padding: 20px;
		text-align: center;
		
	}
	.map-container{
		display: flex;
		
	}
	.contac-map{
		min-height: 400px;
		width: 100%;
	}
	.contac-form-container{
		padding: 1rem 2rem;
		
		
	}
	.contac-form{
		text-align: start;
		max-width: 400px;
		margin: 0 auto;
	}
	.form-control:focus{
		box-shadow: 3px 3px 9px #7a058a;
	  }
	.form-control{
		resize: none;
	  }
	  .btn{
		width: 100%;
		font-weight: bold;
		
		
		
	  }



/* ========== nosotros ========== */

.acerca-de-nosotros {
    color: #ffffff;

}
  
  .cont-about-us {
    
    margin: 0 auto;
    text-align: center;
  }

  
  .cont-about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cont-about-us p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 0px 1rem;
  }
  
  .equipo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  
  .miembro {
    
    margin: 2rem;
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    
    border-radius: 8px;
    
  }
  .miembro h3{
    font-size:1.5rem;
  }
  .miembro p{
    padding: .5rem;
    margin-bottom: .5rem;
  }
  
  .miembro img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

/*=========Register==========*/
.cont-register {
    color: #ffffff;
    

  }
  

  .cont-register h2 {
    
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    
    
  }
  .contac-form {
    background-color: var(--color-dark);
    border-radius: 8px;
    padding: 20px;
    
    
  }

  .contac-form {
    
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-control{
    resize: none;
      }

  
  .form-control:focus{
    box-shadow: 3px 3px 9px #7a058a;
  }
  

  #selectProvincia {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .btn{
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    
  }

.cont-button{
  display: flex;
  
  justify-content: center;

  
}

/* ========== login ========== */


.login-wrapper {
	max-height: 500px;
	background: #000;
	box-shadow: 0 0 20px var(--color-green);
	padding: 40px;
	overflow: hidden;
}

.login-wrapper:hover {
	animation: animateW 2s linear infinite;
}

@keyframes animateW {
	100% {
		filter: hue-rotate(360deg);
	}
}



/* ========== Admin productos ========== */


.table-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.table-title {
    font-weight: bold;
}

.table-description {
    font-size: .875rem;
    font-family: monospace
}
.table-price {
    font-weight: bold;
}

textarea {
    resize: none;
}

